<h2>Interpolação</h2>
<app-componente01></app-componente01>
<br>
<h2>Event Binding</h2>
<app-componente02></app-componente02>
<br>
<h2>Property Binding</h2>
<app-componente03></app-componente03>
<br>
<h2>Directive ngIF</h2>
<app-componente04></app-componente04>
<br>
<h2>Directive ngFor</h2>
<app-componente05></app-componente05>
<br>
<h2>Directive ngSwitch</h2>
<app-componente06></app-componente06>
<br>
<h2>Directive ngStyle</h2>
<app-componente07></app-componente07>
<br>
<h2>Directive ngClass</h2>
<app-componente08></app-componente08>
<br>
<h2>Control Flow</h2>
<app-componente09></app-componente09>
<br>
<h2>Control Flow - Condicional</h2>
<app-componente10></app-componente10>
<br>
<h2>Control Flow - Laços de repetição</h2>
<app-componente11></app-componente11>
<br>
<h2>Control Flow - Escolha</h2>
<app-componente12></app-componente12>

